@model StatisticsViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="d-print-none">
    <table>
        <tr>
            <td>Select the date to report on</td>
            <td>@await Html.PartialAsync("~/Views/Shared/_HeaderDefault.cshtml")</td>
        </tr>
    </table>
</div>
