@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form class="form-inline my-2 my-lg-0" asp-action="Index" asp-controller="Home" method="post">
    <input type="date" name="reportDate" pattern="[0-9]{2}/[0-9]{2}/20[0-9]{2}" title="The date in format dd/mm/yyyy" placeholder="dd/mm/yyyy" required />
    <button type="submit" value="Submit" class="btn">&nbsp;Submit</button>
</form>